$main-font-color: #191919;

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-300.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-400.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat-600.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/jetbrains-mono-300.woff2") format("woff2");
}

.page {
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $main-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page[lang="ru"] {
  .lang_eng {
    display: none;
  }
}

.page[lang="en"] {
  .lang_rus {
    display: none;
  }
}

.page__body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.wrapper {
  width: 40%;
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.footer {
  flex: 0 0 auto;
}
