.page {
  height: 100%;
}

.page__body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.wrapper {
  width: 40%;
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.footer {
  flex: 0 0 auto;
}
